.container{
    font-family: "puppina";
    padding: 1.2rem;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
   min-height:80vh;
   flex-wrap: wrap;
}
.mainContainer_left {
    /* flex: 0.5rem; */
    flex: 1;
    min-width: 250px;
}
.mainContainer_right{
    /* flex: 0.5rem; */
    flex: 1;
    min-width: 250px;
}
.mainContainer_left > p:nth-child(1){
  font-size :2.9rem; 
  background: -webkit-linear-gradient(45deg,rgb(24, 23, 23),white);
  background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}

.mainContainer_left > p:nth-child(2){
   color: #4D4D4D;
    font-size :1.8rem; 
}

.mainContainer_left > div.buttonJoin{
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background-color:rgba(10, 108, 173, 0.404) ;
    color: rgb(244, 247, 247);
    border-radius:0.5rem 0.5rem;
}


@media only screen and (max-width: 600px){
.mainContainer{
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1.3rem;
    height: auto;
}
.mainContainer_left{
    flex: 1;
    /* padding-top: 1.5rem; */
width: 100%;
padding: 0 1rem;
}
.mainContainer_right{
    flex: 1;
    width: 100%;
padding: 0 1rem;
    
}
.mainContainer_right img{
        width: 100%;
        height: auto; 
        max-height: 300px; 
    }

}











