.container{
    display: flex;
    justify-content: center;
   min-height: 100vh;
    align-items:center ;
    background: rgb(253, 252, 253);
    overflow: hidden;  
    margin: 0;
    padding: 0;

}


.cardContainer{
   flex-direction: row;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
   min-height: 500px;
    background: white;
    box-shadow: 10px 15px 15px 10px rgb(173, 173, 171)
}

.cardContainer_left{
    flex: 0.6;
    padding: 2rem;
    text-align: center;
}

.buttonWithOutline{
    padding: 0.8rem 1.3rem;
    background: silver;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    margin-top: 0.5rem;
}

.inputRow{
   display: flex; 
   gap: 1.2rem;
}

.cardleft_heading{
    font-weight: bold;
    font-size: 1.8rem;
}

.inputField{
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
    outline: none;
    border-radius: 30px;
    border: 1px solid silver;
    width: 100%;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
    max-width: 400px;
     margin: 0 auto;
}












.cardContainer_right{
    flex: 0.4;
   background: rgb(51, 35, 109);
   display: flex;
   justify-content: center;
   color: white;
   align-items: center;
}

.cardleft_heading{
    font-weight: bold;
    font-size: 1.8rem;
}


@media only screen and (max-width: 600px){
.cardContainer{
    flex-direction: column;
}

}