.container{
   padding: 1.2rem; 
}
.navBar{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.NavbarOptionComponent{
   display: flex;
}

.buttonJoin{
    background: palevioletred;
    cursor: pointer;
    user-select: none;
    padding-block: 0.6rem;
    padding-inline: 1.7rem;
    font-size: o.8rem;
    color: rgb(244, 247, 247);
    border-radius:0.5rem 0.5rem;
    font-weight: bold;
}